#ifndef SECRETS_H
#define SECRETS_H

// Copia questo file in secrets.h e inserisci SSID/password reali.
static const char* WIFI_SSID = "YOUR SSID";
static const char* WIFI_PASS = "YOUR PASSWORD";

#endif
